{% extends 'base.html' %}

{% block content %}
<div class="content">
    <div class="text-page">
        <h2>Customer Success Job’s Privacy Policy</h2>
        <p>This privacy policy sets out how Customer Success Jobs uses and protects any information that you give
            Customer Success Jobs when you use this website. Customer Success Jobs is committed to ensuring that your
            privacy is protected. Should we ask you to provide certain information by which you can be identified when
            using this website, then you can be assured that it will only be used in accordance with this privacy
            statement.</p>

        <h4>Introduction</h4>
        <p>This policy sets out the different areas where user privacy is concerned and outlines the obligations &
            requirements of the users, the website and website owners. Furthermore, the way this website processes,
            stores and protects user data and information will also be detailed within this policy.</p>

        <h4>The website</h4>
        <p>This website and its owners take a proactive approach to user privacy and ensure the necessary steps are
            taken to protect the privacy of its users throughout their visiting experience.</p>

        <h4>Personal information</h4>
        <p>Whilst using our website, software applications or services, you may be required to provide personal
            information (email address, job details etc.). We will use this information to administer our website,
            databases and marketing material. You have the right at any time to request a copy of the personal
            information we hold on you. Should you wish to receive a copy of this, or would like to be removed from our
            database, please contact us at support@customersuccess.jobs</p>

        <h3>Information collection and use</h3>
        <h4>How do we collect information?</h4>
        <p>Customer Success Jobs collects information in one way:<br>
        <ol>
            <li>When you directly give it to us (“Directly Provided Data”)</li>
        </ol>

        <p>When you sign up for our site or communicate with us, you may choose to voluntarily give us certain
            information – for example, by filling forms. All this information requires a direct action by you at that
            time in order for us to receive it.</p>

        <h4>How long do we keep your data for?</h4>
        <p>Customer Success Jobs will not retain your personal information longer than necessary. We will hold onto the
            information you provide either while your account is in existence, or as needed to be able to provide the
            Services to you, or (in the case of any contact you may have with our Customer Care team) for as long as is
            necessary to provide support-related reporting and trend analysis only. If legally required or if it is
            reasonably necessary to meet regulatory requirements, resolve disputes, prevent fraud and abuse, or enforce
            our Terms and Conditions, we may also retain some of your information for a limited period of time as
            required, even after you have closed your account or it is no longer needed to provide the Services to you.
        </p>

        <h4>Registration forms</h4>
        <p>Customer Success Jobs will not sell or rent your personally identifiable information, gathered as a result of
            filling out the site registration form, to anyone.</p>

        <h4>Choosing how we use your data</h4>
        <p>We understand that you trust us with your personal information and we are committed to ensuring you can
            manage the privacy and security of your personal information yourself. With respect to the information
            relating to you that ends up in our possession, and recognising that it is your choice to provide us with
            your personally identifiable information, we commit to giving you the ability to do all of the following:
        </p>

        <ul>
            <li>You can verify the details you have submitted to Customer Success Jobs by contacting our customer
                services team at: support@customersuccess.jobs. Our security procedures mean that we may request proof
                of identity before we reveal information, including your e-mail address and possibly your address.</li>

            <li>You can unsubscribe from receiving marketing emails from us by clicking the “unsubscribe” link at the
                bottom of any email. Once you do this, you will no longer receive any emails from us.</li>
        </ul>

        <p>Please note, we are constantly reviewing how we process and protect data. Therefore, changes to our policy
            may occur at any time. We will endeavour to publicise any changes.</p>
    </div>
</div>
{% endblock %}