{% extends 'base.html' %}

{% block content %}
<div class="content">
    <div class="text-page">
        <h2>Terms of use</h2>
        <h4>EFFECTIVE DATE: 28th December 2022</h4>
        <p>This Nata Minds LTD Terms of Use ('Terms”) applies to your access to and use of the Customer Success Jobs,
            including the websites and other online products and services (collectively, the 'Services”) provided by
            Nata Minds LTD ('Nata Minds LTD”, 'we”, or 'us”).</p>
        <p>By accessing the Customer Success Jobs or using our Services, you confirm that you accept these Terms and
            agree to comply with them. If you do not agree to these Terms, you may not use our Services and must not
            access our website.</p>

        <h3>1. Your Use of the Services</h3>
        <p>Customer Success Jobs grants you a personal, non-transferable, non-exclusive, revocable, limited license to
            use and access the Services solely as permitted by these Terms. We reserve all rights not expressly granted
            to you by these Terms.</p>
        <p>Except as permitted through the Services or as otherwise permitted by us in writing, your license does not
            include the right to:</p>
        <ul>
            <li>license, sell, transfer, assign, distribute, host, or otherwise commercially exploit the Services, our
                website, or any content made available through our website or the Services;</li>
            <li>modify, prepare derivative works of, disassemble, decompile, or reverse engineer any part of the
                Services; or</li>
            <li>access the Services or any content made available through our website in order to build a similar or
                competing website, product, or service, unless otherwise agreed or licenced by us.</li>
        </ul>
        <p>Specifically, you are not permitted to use this website (including [the mobile app and any webpage and/or
            data that passes through our web domain(s)]), its underlying computer programs (including application
            programming interfaces ('APIs”)), domain names, URLs, databases, functions or its content other than for
            private, non-commercial purposes. The use of any automated system, software, or manual process, whether
            operated by a third party or otherwise, to extract any data from this website for commercial purposes
            ('scraping”) is strictly prohibited.</p>
        <p>We reserve the right to modify, suspend, or discontinue the Services (in whole or in part) at any time, with
            or without notice to you. Any future release, update, or other addition to functionality of the Services
            will be subject to these Terms, which may be updated from time to time. You agree that we will not be liable
            to you or to any third party for any modification, suspension, or discontinuation of the Services or any
            part thereof.</p>

        <h3>2. Our Content</h3>
        <p>Our website and the Services may contain information, text, links, graphics, photos, videos, or other
            materials ('Content”).</p>
        <p>We are the owner or the licensee of all intellectual property rights in our site, the material published on
            it and the Content. Those works are protected by copyright laws and treaties around the world. All such
            rights are reserved.</p>
        <p>You may print off one copy, and may download extracts, of any page(s) from our site for your personal use and
            you may draw the attention of others within your organisation to Content posted on our site.</p>
        <p>You must not modify the paper or digital copies of any materials you have printed off or downloaded in any
            way, and you must not use any illustrations, photographs, video or audio sequences or any graphics
            separately from any accompanying text.</p>
        <p>Our status (and that of any identified contributors) as the authors of Content on our site must always be
            acknowledged.</p>
        <p>You must not use any part of the Content on our site for commercial purposes without obtaining a licence to
            do so from us or our licensors.</p>
        <p>If you print off, copy or download any part of our site in breach of these terms of use, your right to use
            our site will cease immediately and you must, at our option, return or destroy any copies of the materials
            you have made.</p>
        <p>The Content on our site is provided for general information only. It is not intended to amount to advice on
            which you should rely. You must obtain professional or specialist advice before taking, or refraining from,
            any action on the basis of the content on our site.</p>
        <p>Although we make reasonable efforts to update the information on our site, we make no representations,
            warranties or guarantees, whether express or implied, that the content on our site is accurate, complete or
            up to date.</p>

        <h3>3. Third-Party Content, Advertisements and Promotions</h3>
        <p>Our website or Services may contain links to other third-party websites, resources products, or services,
            which may be posted by our affiliates, advertisers, or partners ('Third-Party Content”). Third-Party Content
            is not under our control, and such links should not be interpreted as approval by us such Third-Party
            Content; we are not responsible, and accept no liability, for any of such Third-Party Content.</p>
        <p>Where you are referred to a third-party website, we recommend that you carefully read the terms and
            conditions of that third-party‘s website, as well as any terms associated with any product or service you
            wish to purchase through that third-party.</p>
        <p>The Services may also contain sponsored Third-Party Content or advertisements. The type, degree, and
            targeting of advertisements are subject to change, and you acknowledge and agree that we may place
            advertisements in connection with the display of any Content or information on the Services, including Your
            Content.</p>

        <h3>4. Things You Cannot Do On Our Website or Through Our Services</h3>
        <p>Our Services are for as general market information for entertainment purposes and you may only use the
            website and Services for lawful purpose, and you will not:</p>
        <ul>
            <li>Use the Services in any way which breaches any applicable local, national or international law or
                regulation, or in any way that is unlawful or fraudulent;</li>
            <li>Attempt to gain unauthorized access to the Services (or to other computer systems or networks connected
                to or used together with the Services);</li>
            <li>Knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms,
                time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code
                designed to adversely affect the operation of any computer software or hardware.</li>
            <li>Act in any manner that could interfere with, damage, disrupt, or negatively affect, or inhibit other
                users from fully enjoying the Services or that could damage, disable, overburden, or impair the
                functioning of the Services in any manner;</li>
        </ul>

        <h3>5. Copyright</h3>
        <p>We respect the intellectual property of others and require that when using our website and Services you do
            the same. Specifically, when using our website or Services you agree not to:</p>
        <ul>
            <li>Act in any way which would infringe any person or entity's intellectual property or any other
                proprietary rights;</li>
            <li>Reproduce, duplicate, copy or re-sell any part of our website or Services, unless otherwise agreed by us
                pursuant to a licencing agreement. In particular we prohibit:</li>
            <ul>
                <li>the use of any automated system, software, or manual process, whether operated by a third party or
                    otherwise, to extract any data from this website for commercial purposes ('scraping”); and,</li>
                <li>Any attempt to harvest, collect, gather or assemble information or data regarding the website, the
                    Services, the Content or any other user of the Services.</li>
            </ul>
        </ul>

        <h3>6. Breach of our Terms</h3>
        <p>We take all breaches of our Terms seriously and if we do consider that a breach of these Terms has occurred,
            we may take such action as we deem appropriate, which may extend to any one or all of the following:</p>
        <ul>
            <li>The immediate, suspension or permanent removal of our Account and your right to use our website and
                Services;</li>
            <li>Issuing a warning to you;</li>
            <li>Legal action against you, which may extend to legal proceedings against you for reimbursement of all
                costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs)
                resulting from the breach; and,</li>
            <li>Disclosure of such information to law enforcement authorities as we reasonably feel is necessary or as
                required by law.</li>
        </ul>
        <p>We exclude our liability for all action we may take in response to breaches of our Terms. The actions we may
            take are not limited to those described above, and we may take any other action we reasonably deem
            appropriate.</p>

        <h3>7. Indemnity</h3>
        <p>To the greatest extent permitted by applicable law, you agree to defend, indemnify, and hold us (including
            our officers, employees, contractors and agents), our licensors, and our third party service providers (the
            'Indemnified Entities”) harmless, including costs and attorneys’ fees, from any claim or demand made by any
            third party due to or arising out of your use of the website or our services. We reserve the right to
            control the defence of any matter for which you are required to indemnify us, and you agree to cooperate
            with our defence of these claims.</p>

        <h3>8. No Warranty</h3>
        <p>Our website and the services are provided on an 'as is' and 'as available' basis without warranties of any
            kind, either express or implied, including, but not limited to, implied warranties of merchantability,
            fitness for a particular purpose, and non-infringement. The Customer Success Jobs, its licensors, and its
            third party providers do not warrant that the services are accurate, complete, reliable, current, or error
            free. While we do make every effort to ensure that your access to and use of our website and services is
            safe, we do not represent or warrant that our services or servers are free of viruses or other harmful
            components.</p>
        <p>The Customer Success Jobs has no responsibility for, and does not endorse, or take responsibility for any
            content available on or linked to the website or services or the actions of any third party.</p>

        <h3>9. Limitation of Our Liability and Our responsibility for loss or damage</h3>
        <p>We do not exclude or limit in any way our liability to you where it would be unlawful to do so. This includes
            liability for death or personal injury caused by our negligence or the negligence of our employees, agents
            or subcontractors and for fraud or fraudulent misrepresentation.</p>
        <p>When you access our website and/or Services, you agree that you do so for domestic and private use only. You
            agree not to use our site for any commercial or business purposes, and we have no liability to you for any
            loss of profit, loss of business, business interruption, or loss of business opportunity.</p>

        <h4>Limitation of our Liability</h4>
        <p>In no event and under no theory of liability, including contract, tort, negligence, strict liability,
            warranty, or otherwise, will we be liable to you for any indirect, consequential, exemplary, incidental,
            special, or punitive damages, or lost profits arising from or relating to these terms or the services,
            including those arising from or relating to content made available on the services that is alleged to be
            defamatory, offensive, or illegal. Access to, and use of, the services is at your own discretion and risk,
            and you will be solely responsible for any damage to your device or computer system, or loss of data
            resulting therefrom. In no event will our aggregate liability exceed the greater of one hundred pounds
            (£100).</p>

        <h3>10. Termination</h3>
        <p>We may terminate your access to the website or Services at any time without a reason; in the unlikely event
            we take such steps we will endeavour to notify you in advance.</p>
        <p>You may terminate these Terms at any time and for any reason by discontinuing your use of all Services.</p>
        <p>The following sections will survive any termination of these Terms: 3 (Our Content), 5 (Things You Cannot Do
            On Our Website), 6 (Copyright), 8 (Indemnity), 10 (Limitation of Liability), 11 (Termination), 12 (Which
            Country’s Laws Apply to Any Disputes), and 14 (Miscellaneous), and such other terms which by their
            construction are intended to survive termination.</p>

        <h3>11. Which Country’s Laws Apply to Any Disputes?</h3>
        <p>Where you have an issue or dispute with us, you agree to first raise it with us and try to resolve it with us
            informally</p>
        <p>These terms of use, their subject matter and their formation, are governed by English law.</p>

        <h3>12. Changes to these Terms</h3>
        <p>We may make changes to these Terms from time to time. Every time you use our website or Services, please do
            check these Terms to ensure you understand the latest version which applies to you. Where we do make
            changes, we will post the amended Terms to our website and Services and update the Effective Date above,
            along with a summary of the changes. If the changes, in our sole discretion, are material, we may also
            notify you, either by sending an email to the address associated with your Account, or by placing a
            prominent notice on our website. By continuing to access or use our website and the Services after we have
            made changes to our Terms, you agree to be bound by the revised Terms. If you do not agree to the revised
            Terms, you must stop accessing and using our Services before the changes become effective.</p>

        <h3>13. Miscellaneous</h3>
        <p>These Terms constitute the entire agreement between you and us regarding your access to and use of the
            Services. Our failure to exercise or enforce any right or provision of these Terms will not operate as a
            waiver of such right or provision. If any provision of these Terms is, for any reason, held to be illegal,
            invalid or unenforceable, the rest of the Terms will remain in effect. You may not assign or transfer any of
            your rights or obligations under these Terms without our consent. We may freely assign these Terms.</p>

        <h3>14. How to Contact Us</h3>
        <p>Email us at support@customersuccess.jobs</p>
    </div>
</div>
{% endblock %}