{% load static %}

<footer>
    <div class="top">
        <div class="frame">
            <div class="column">
                <div class="title">Location</div>
                <div class="items">
                    <div class="sub-column">
                        <a href="/Remote-Customer-Success-Jobs">Remote Customer Success Jobs</a>
                        <a href="/Customer-Success-Jobs-in-London">Customer Success Jobs London</a>
                        <a href="/Customer-Success-Jobs-in-Austin">Customer Success Jobs Austin</a>
                        <a href="/Customer-Success-Jobs-in-Dublin">Customer Success Jobs Dublin</a>
                        <a href="/Customer-Success-Jobs-in-Los-Angeles">Customer Success Jobs Los Angeles</a>
                        <a href="/Customer-Success-Jobs-in-Atlanta">Customer Success Jobs Atlanta</a>
                        <a href="/Customer-Success-Jobs-in-Chicago">Customer Success Jobs Chicago</a>
                        <a href="/Customer-Success-Jobs-in-Denver">Customer Success Jobs Denver</a>
                        <a href="/Customer-Success-Jobs-in-San-Francisco">Customer Success Jobs San Francisco</a>
                        <a href="/Customer-Success-Jobs-in-Berlin">Customer Success Jobs Berlin</a>
                        <a href="/Customer-Success-Jobs-in-Munich">Customer Success Jobs Munich</a>
                    </div>
                    <div class="sub-column">
                        <a href="/Customer-Success-Jobs-in-UK">Customer Success Jobs UK</a>
                        <a href="/Customer-Success-Jobs-in-USA">Customer Success Jobs USA</a>
                        <a href="/Customer-Success-Jobs-in-Germany">Customer Success Jobs Germany</a>
                        <a href="/Customer-Success-Jobs-in-Australia">Customer Success Jobs Australia</a>
                        <a href="/Customer-Success-Jobs-in-EMEA">Customer Success Jobs EMEA</a>
                        <a href="/Customer-Success-Jobs-in-Canada">Customer Success Jobs Canada</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="title">Company</div>
                <div class="items">
                    <div class="sub-column">
                        <a href="/Customer-Success-Jobs?company=Google">Google Customer Success Jobs</a>
                        <a href="/Customer-Success-Jobs?company=Amazon">Amazon Customer Success Jobs</a>
                        <a href="/Customer-Success-Jobs?company=PayPal">PayPal Customer Success Jobs</a>
                         <a href="/Customer-Success-Jobs?company=Fiverr">Fiverr Customer Success Jobs</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="title">Level</div>
                <div class="items">
                    <div class="sub-column">
                        <a href="/Entry-Level-Customer-Success-Jobs">Entry-Level Customer Success Jobs</a>
                        <a href="/Director-Customer-Success-Jobs">Director Customer Success Jobs</a>
                        <a href="/Manager-Customer-Success-Jobs">Manager Customer Success Jobs</a>
                        <a href="/Senior-Customer-Success-Jobs">Senior Customer Success Jobs</a>
                        <a href="/VP-Customer-Success-Jobs">VP Customer Success Jobs</a>
                        <a href="/Associate-Customer-Success-Jobs">Associate Customer Success Jobs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="frame">
            <div class="first">
                <div>Curated with 💚 in Turkey</div>
                <div>© Copyright 2023 – <a target="_blank" href="https://nataminds.com">NataMinds LTD</a> / United Kingdom</div>
                <div>All our data is gathered from publicly available sources or contributed by users</div>
            </div>
            <div class="second">
                <a href="mailto:support@customersuccess.jobs">support@customersuccess.jobs</a>
                <span><a href="{% url 'policy' %}">Privacy Policy</a> & <a href="{% url 'terms' %}">Terms</a></span>
                <a class="social" href="https://www.linkedin.com/company/customer-success-jobs/" target="_blank"><img src="{% static 'media/icons/linkedin.svg' %}" alt="linkedin logo" width="32px"></a>
            </div>
        </div>
    </div>
</footer>