{% load static %}

<nav id="nav">
    <div class="frame">
        <a class="logo" href="/">
            <img src="{% static 'media/logo.svg' %}" alt="customer success jobs logo" width="60px">
            <div class="text" >Customer Success Jobs</div>
        </a>
        <div class="menu">
            <!-- <a class="item posting" href="/Job-Posting">Post a job</a> -->
            <a class="item posting" href="https://form.jotform.com/231382809025959" target="_blank">Feature your job</a>
        </div>
    </div>
</nav>